:root {
    --grid-padding: 16px;
    --grid-spacing: calc(var(--grid-padding) * 2);
}

.grid-small-header {
    margin-top: 2px; 
    margin-bottom: 8px; 
    line-height: 30px;
    margin-right: 8px;
}

.blog-grid-area {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(250px, auto));
    margin-top: var(--grid-spacing);
}

#blog-grid-area-mini {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1 , minmax(250px, auto));
    margin-top: var(--grid-spacing);
}

#blog-list-area {
    display: none;
}


.blog-grid-area > * {
    position: relative;
    padding: var(--grid-padding);
}

#blog-grid-area-mini > * {
    position: relative;
    padding: var(--grid-padding);
}

.large-reel-large-teaser {
    grid-column: 1;
    grid-column-end: 6;
}


.large-reel-large-teaser-noimg {
    grid-column: 1;
    grid-column-end: 10;
}


.large-reel-small-teaser {
    grid-column: 10;
    grid-column-end: 13;
}

.large-reel-large-image {

    height: 350px;
    width: calc(100% - var(--grid-spacing));
    grid-column: 6;
    grid-column-end: 10;

}

.large-reel-large-teaser-alt {
    grid-column: 8;
    grid-column-end: 13;
}


.large-reel-large-teaser-noimg-alt {
    grid-column: 4;
    grid-column-end: 13;
}


.large-reel-small-teaser-alt {
    grid-column: 1;
    grid-column-end: 4;
}

.large-reel-large-image-alt {

    height: 300px;
    width: calc(100% - var(--grid-spacing));
    grid-column: 4;
    grid-column-end: 8;


}

.small-reel-image {
    height: 250px;
    width: calc(100% - var(--grid-spacing));
    grid-column: 7;
    grid-column-end: 10;
}

.small-reel-small-teaser-1 {
    grid-column: 1;
    grid-column-end: 4;
}

.small-reel-small-teaser-2 {
    grid-column: 4;
    grid-column-end: 7;
}

.small-reel-small-teaser-2-noimg {
    grid-column: 4;
    grid-column-end: 10;
}

.small-reel-small-teaser-3 {
    grid-column: 10;
    grid-column-end: 13;
}

.mini-teaser-1 {
    grid-column: 1;
    grid-column-end: 7;
}
.mini-teaser-2 {
    grid-column: 7;
    grid-column-end: 12;
}

.grid-category-text {
    font-size: 18px;
    font-weight: bold;
    color: var(--accent-color);
}



.row-1 {
    grid-row-start: 1;
}
.row-2 {
    grid-row-start: 2;
}
.row-3 {
    grid-row-start: 3;
}
.row-4 {
    grid-row-start: 4;
}

.grid-sep-top {
    border-top-style: solid;
    border-top-color: var(--border-color);
    border-top-width: 2px;
}

.grid-sep-right:after {
    content: ""; 
    display: block; 
    height: calc(100% - var(--grid-spacing));
    width: 2px;
    position: absolute;
    right: 0;
    top: var(--grid-padding);
    background: var(--border-color);
}

.grid-sep-left:after {
    content: ""; 
    display: block; 
    height: calc(100% - var(--grid-spacing));
    width: 2px;
    position: absolute;
    left: 0;
    top: var(--grid-padding);
    background: var(--border-color);
}

.grid-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.grid-sep-bottom {
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
    border-bottom-width: 2px;
}

.childhover-parent:hover .childhover-target {
    text-decoration: underline !important;
}

.resizeable-headline {
    font-size: 42px;
    line-height: 42px;
}

.large-section {
    height: 400px;
}

.small-section{
    height: 160px;
}

.large-section, .small-section, .small-section-mobile {
    background-color: var(--accent-color);
    position: relative;
    overflow: auto;
}

.large-section *, .small-section *, .small-section-mobile * {
    position: absolute;
}

#microphone-img {
    height: 325px;

    left: 32px;
    bottom: 0px;
}

#podcasts-text {
    left: 400px;
    top: 80px;
}

#mailing-text {
    left: 32px;
    top: 0px;
}

#podcasts-button {
    left: 400px;
    top: 230px;
    width: 300px;
}

#mailing-button {
    left: 32px;
    top: 84px;
    width: 300px;
}

#small-category-container li a {
    margin: 10px 12px 0 12px;
}

@media (min-width: 1301px) {
    #small-category-container {
        font-size: 18px;
    }

    #small-category-container .nav-border {
        margin-top: 12px;
    }
}

@media (max-width: 1300px) {
    .resizeable-headline {
        font-size: 32px;
        line-height: 36px;
    }

}

@media (max-width: 1100px) {
    .blog-grid-area {
        display: none;
    }

    #blog-list-area {
        display: block;
    }

    .large-section, .small-section {
        display: none;
    }
}

@media (max-width: 600px) {
    .small-section-mobile * {
        position: relative;
    }
}