.category-post-container {
    position: relative;
    height: 240px;
}

.category-post-container img {
    max-height: 180px;
    max-width: 230px;
    margin: 5px;

    display: inline-block;

    position: absolute;
    top: 45%;
    transform: translateY(-50%);

    right: 0;
}


.category-post-container .category-post-details {

    max-height: 180px;
    width: calc(100% - 250px);

    display: inline-block;

    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

.nopadding {
    padding: 0px;
    margin: 0px;
}

.category-post-details .category-post-meta-container {
    color: var(--text-color-light);
    font-style:italic;
}

.category-post-content-preview {
    font-size: 18px;
}

#post-template {
    display: none;
}

.category-link {
    color: var(--text-color);
}

#category-pages {
    margin: 0 auto 16px auto;
    width: 100%;
    text-align: center;
}

.category-pages-indicator span {
    text-decoration: none;
}

.category-pages-indicator {
    transition: background-color 100ms, color 100ms;

    background-color: transparent;

    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 2px;

}
.category-pages-indicator:hover {
    color: white;
    background-color: var(--accent-color);
}

.category-pages-indicator-selected {
    background-color: var(--accent-color);
}

.category-pages-indicator-text {
    position: relative;
    top: 4px;
}

.category-pages-indicator-selected span {
    color: white !important;
}

#search-results-container {
    min-height: calc(100vh - 300px);
}

/* TABLET */
@media (max-width: 900px) {
    .category-post-container {
        position: inherit;
        height: auto;
    }

    .category-post-container .category-post-details {
        position: inherit;
        top: 0%;
        transform: none;
        width: 100%;

        margin: 0;
    }

    .category-post-container img {
        width: 60%;
        margin: 0;

        max-height: none;
        max-width: none;

        position: relative;
        top: none;
        transform: none;
    }
}

/* MOBILE */

@media (max-width: 600px) {
    .category-post-container img {
        width: 100%;
        margin: 0;

        max-height: none;
        max-width: none;

        position: relative;
        top: none;
        transform: none;
    }
}
