

.wide-area img {
    width: 100%;
}

.gallery-overlay, .gallery-overlay-indicator-container {
    background-image: none !important;
    height: 30px;
    bottom: 5px;
}

.details-container {
    position: relative;
    transform: translateY(-100%);
    z-index: 5;
    margin: -48px 32px 0px 32px;
}

.blog-gallery-container {
    width: 100%;
    height: 100%;
    background-color: rgb(58, 58, 58);
    position: absolute;
}

.blog-gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery {
    margin: 32px 0;
    height: 600px;
}

.ongallery {
    color: white;
}

#blog-navigation {
    text-align: center;
    border-style: solid;
    border-width: 2px 0;
    border-color: var(--accent-color);
}

.navigation-list li:last-child .nav-border {
    display: none;
}

.gallery-container-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(0deg, black, transparent);
}

.blog-gallery-categories-container {
    z-index: 5;
    bottom: 170px;
    left: 16px;
}

.blog-gallery-categories-container span {
    display: inline;
    position: static;
    color: white;
}

.blog-gallery-image-container {
    height: 100%;
    width: 100%;
}

.categories-container span:not(:last-child):after {
    content: ', ';
}

.blog-gallery-container h1 {
    bottom: 16px;
    left: 16px;
    color: white;
    z-index: 5;
    margin: 2px 0 4px 0;
    padding: 0;
}

.wide-area .blog-post-image-caption {
    font-style: italic;
    color: #888888;
    width: 100%;
    text-align: right;

    padding: 0px;
    margin: 0px 0px 8px 0px;
}

.blog-categories-container {
    margin-top: 32px;
}

.blog-categories-container * {
    display: inline-block;
}

.blog-category-tag {
    transition: background-color 100ms;
    
    background-color: #EEEEEE;
    color: var(--text-color-light);
    margin: 2px;
    padding: 6px 8px;
    text-decoration: none;
}

.blog-category-tag:hover {
    background-color: #E8E8E8;
}

.headline {
    font-size: 56px;
    padding: 0px;
    margin: 8px 0px 32px 0px;
    line-height: 64px;
}

.narrow-area img {
    max-width: 100%;
}

#blog-post-content-area {
    text-align: left;
    word-wrap: break-word;
}

#blog-post-content-area img {
    max-width: 100%;
}


#blog-post-author-container span {
    font-weight: bold;
}

#blog-post-date-container span {
    color: #888888
}

#blog-post-share-button {
    margin-top: 4px;
}


@media (max-width: 600px) {
    .headline {
        font-size: 40px;
        line-height: 50px;
    }

    .blog-gallery-container h1 {
        font-size: 28px;
        line-height: 32px;
    }

    .details-container {
        margin: -58px 16px 0px 16px;
    }

    #gallery {
        margin: 32px 0;
        height: 400px;
    }

    .navigation-list li:first-child .blog-categories-item {
        display: none;
    }

    .navigation-list li:last-child .nav-border {
        display: block;
    }
}